body{
    width:auto;
    margin: 0px 0px 0px 0px;
}

.Title{
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 0px 5px 0px 5px;
    }

    .list{
        display: flex;
        justify-content: center;
        margin-bottom: 234px;
    }

    .head{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
    }

    .login{
        text-decoration: none;
        color: #ffffff;
    }

    .log{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        font-size: 1em;
        border: 0px;
        height: 36px;
        width: 90px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    .sing{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        border: 2px solid #ffffff;
        font-size: 1rem;
        border-radius: 30px;
        height: 36px;
        width: 90px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .register{
        display: flex;
        justify-content: center;
    }

    .begin{
        background-image: url(../img/Vector\ Smart\ Object.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .first-name{
        font-size: 1.2rem;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 0px;
        margin-left: 10px;
        display: flex;
       text-align: center;
    }

    .first{
       display: flex;
       justify-content: center; 
    }
    
    .main-slogan{
        display: flex;
        justify-content: center;
    }
    
    .slogan{
        font-size: 2.7rem;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        width: 500px;
        text-align: center;
        margin:0px 5px 30px 5px;
    }
    
    span{
        font-size: 1.5rem;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }
    
    .find-p{
        background-color: #ff4e50;
        color: #ffffff;
        border: 0px;
        border-radius: 30px;
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;
        padding: 11px 22px 11px 22px;
        font-weight: lighter;
        margin-top: 35px;
    }
    
    .holiday{
        text-decoration: none;
        height: auto;
        color: #ffffff;
    }

    h5{
        color: #333333;
        font-size: 1.1rem;
        font-family: 'Montserrat', sans-serif;
        margin-top: 71px;
        margin-right: 25px;
        margin-left: 25px;
    }
    
    .small-list{
        text-align: center;
    }

    .small-list-3{
        width: 220px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 0px auto;
    }

    h6{
        font-size: 0.9rem;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        margin: 0px 0px 0px 0px;
    }
    
    .text{
        color: #666666;
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif;
    }
    
    .people{
        width: 220px;
        text-align: center;
    }
    
    .end-b{
        color: #ff4e50;
        border: 2px solid #ff4e50;
        border-radius: 30px;
        font-family: 'Montserrat';
        font-size: 0.9rem;
        padding: 10px 28px 10px 28px;
        background-color: #ffffff;
        width: 60%;
        margin-bottom: 40px;
    }
    
    footer{
        display: flex;
        justify-content: center;
    }

    .end{
        text-decoration: none;
        color: #ff4e50;
        font-weight: bold;
    }



@media screen and (min-width: 400px){

    body{
        width: 100%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .Bid-List{
        margin-bottom: 40px;
    }

    .Title{
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .list{
        display: flex;
        justify-content: center;
        margin-bottom: 234px;
    }

    .head{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 160px;
        justify-content: center;
    }

    .login{
        text-decoration: none;
        color: #ffffff;
    }

    .log{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        font-size: 1em;
        border: 0px;
        height: 36px;
        width: 90px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    .sing{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        border: 2px solid #ffffff;
        font-size: 1rem;
        border-radius: 30px;
        height: 36px;
        width: 90px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .register{
        margin-top: 38px;
        min-width: 250px;
    }

    .small-list-3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: auto;
    }

    .begin{
        background-image: url(../img/Vector\ Smart\ Object.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .first-name{
        margin-top: 0px;
        font-size: 1.2rem;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
    }

    .first{
        margin: 47px 0px 0px 15px;
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
    
    .main-slogan{
        display: flex;
        justify-content: center;
    }
    
    .slogan{
        font-size: 2.7rem;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        width: 500px;
        text-align: center;
        margin-bottom: 30px;
        padding: 0px 10px 0px 10px;
    }
    
    span{
        font-size: 1.5rem;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }
    
    .find-p{
        background-color: #ff4e50;
        color: #ffffff;
        border: 0px;
        border-radius: 30px;
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;
        padding: 11px 22px 11px 22px;
        font-weight: lighter;
        margin-top: 35px;
    }
    
    .holiday{
        text-decoration: none;
        height: auto;
        color: #ffffff;
    }

    h5{
        color: #333333;
        font-size: 1.1rem;
        font-family: 'Montserrat', sans-serif;
        margin-top: 71px;
    }
    
    .small-list{
        text-align: center;
    }
 
    h6{
        font-size: 0.9rem;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        margin: 0px 0px 0px 0px;
    }
    
    .text{
        color: #666666;
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif;
    }
    
    .people{
        max-width: 220px;
        min-width: 170px;
        text-align: center;
        margin-top: 60px;
        margin-right: 20px;
        margin-left: 20px;
    }


    .end-b{
        color: #ff4e50;
        border: 2px solid #ff4e50;
        border-radius: 30px;
        font-size: 0.9rem;
        padding: 13px 30px 13px 30px;
        background-color: #ffffff;
        width: auto;
        margin-bottom: 40px;
    }

    .end-see{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .end{
        text-decoration: none;
        color: #ff4e50;
        font-weight: bold;
    }
}

@media screen and (min-width: 900px){    
    .Bid-List{
        margin-bottom: 40px;
    }

    .Title{
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .small-list-2{
        display: flex;
        justify-content: center;
        width: auto;
    }

    .small-list-3{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: auto;
        margin: 0px 0px 0px 0px;
        max-width: auto;
        min-width: 340px;
    }

    .register{
        min-width: 250px;
    }

    .log{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        font-size: 1em;
        border: 0px;
        height: 36px;
        width: 90px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .login{
        text-decoration: none;
        color: #ffffff;
    }

    .sing{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        border: 2px solid #ffffff;
        font-size: 1rem;
        border-radius: 30px;
        height: 36px;
        width: 90px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .head{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 160px;
        justify-content: center;
    }

    .begin{
        background-image: url(../img/Vector\ Smart\ Object.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .first-name{
        font-size: 1.2rem;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        margin: 0px 0px 0px 0px;
    }
    .first{
        margin: 47px 5% 0px 0px;
    }
    
    .main-slogan{
        display: flex;
        justify-content: center;
    }
    
    .slogan{
        font-size: 2.7rem;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        width: 500px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    span{
        font-size: 1.5rem;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }

    .list{
        display: flex;
        justify-content: center;
        margin-bottom: 234px;
    }
    
    .find-p{
        background-color: #ff4e50;
        color: #ffffff;
        border: 0px;
        width: 220px;
        border-radius: 30px;
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;
        padding: 11px 22px 11px 22px;
        font-weight: lighter;
        margin-top: 35px;
    }
    
    .holiday{
        text-decoration: none;
        height: auto;
        color: #ffffff;
    }

    h5{
        color: #333333;
        font-size: 1.1rem;
        font-family: 'Montserrat', sans-serif;
        margin-top: 71px;
    }
    
    .small-list{
        text-align: center;
    }
    
    h6{
        font-size: 0.9rem;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        margin: 0px 0px 0px 0px;
    }
    
    .text{
        color: #666666;
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif;
    }
    
    .people{
        max-width: 220px;
        height: auto;
        text-align: center;
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
    }

    
    .end-b{
        color: #ff4e50;
        border: 2px solid #ff4e50;
        border-radius: 30px;
        font-size: 0.9rem;
        padding: 13px 30px 13px 30px;
        width: auto;
        background-color: #ffffff;
        margin-bottom: 40px;
    }

    .end-see{
        display: flex;
        justify-content: center;
    }

    .end{
        text-decoration: none;
        color: #ff4e50;
        font-weight: bold;
    }
}
