
@media screen and (min-width: 850px){    
    .Bid-List{
        margin-bottom: 40px;
    }

    .Title{
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .small-list-2{
        display: flex;
        justify-content: center;
    }

    .small-list-3{
        display: flex;
        flex-direction: row;
    }

    .log{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        font-size: 15px;
        border: 0px;
        height: 36px;
        width: 90px;
        margin-top: 38px;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    .sing{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        border: 2px solid #ffffff;
        font-size: 15px;
        border-radius: 30px;
        height: 36px;
        width: 90px;
        margin-top: 38px;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }

    .head{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 160px;
        justify-content: center;
    }

    .begin{
        background-image: url(../img/Vector\ Smart\ Object.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .first-name{
        font-size: 18px;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        margin: 0px 0px 0px 0px;
    }
    .first{
        margin: 47px 45% 0px 0px;
    }
    
    .main-slogan{
        display: flex;
        justify-content: center;
    }
    
    .slogan{
        font-size: 42px;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        width: 500px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    span{
        font-size: 22px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }
    
    .find-p{
        background-color: #ff4e50;
        color: #ffffff;
        border: 0px;
        border-radius: 30px;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        padding: 11px 22px 11px 22px;
        font-weight: lighter;
        margin-bottom: 234px;
        margin-top: 35px;
    }
    
    h5{
        color: #333333;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 71px;
    }
    
    .small-list{
        text-align: center;
    }
    
    h6{
        font-size: 14px;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        margin: 0px 0px 0px 0px;
    }
    
    .text{
        color: #666666;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }
    
    .people{
        width: 220px;
        text-align: center;
        margin-top: 40px;
        margin-right: 10px;
        margin-left: 10px;
    }

    
    .end-b{
        color: #ff4e50;
        border: 2px solid #ff4e50;
        border-radius: 30px;
        font-size: 14px;
        padding: 13px 28px 13px 28px;
        background-color: #ffffff;
    }

    .end-see{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 850px){
    .Bid-List{
        margin-bottom: 40px;
    }

    .Title{
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .head{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 160px;
        justify-content: center;
    }

    .log{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        font-size: 15px;
        border: 0px;
        height: 36px;
        width: 90px;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    .sing{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        border: 2px solid #ffffff;
        font-size: 15px;
        border-radius: 30px;
        height: 36px;
        width: 90px;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }

    .register{
        margin-top: 38px;
    }

    .small-list-3{
        display: flex;
        flex-direction: row;
        justify-content: center;
       
    }

    .begin{
        background-image: url(../img/Vector\ Smart\ Object.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .first-name{
        margin-top: 0px;
        font-size: 18px;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
    }

    .first{
        margin: 47px 45% 0px 0px;
    }
    
    .main-slogan{
        display: flex;
        justify-content: center;
    }
    
    .slogan{
        font-size: 42px;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        width: 500px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    span{
        font-size: 22px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }
    
    .find-p{
        background-color: #ff4e50;
        color: #ffffff;
        border: 0px;
        border-radius: 30px;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        padding: 11px 22px 11px 22px;
        font-weight: lighter;
        margin-bottom: 234px;
        margin-top: 35px;
    }
    
    h5{
        color: #333333;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 71px;
    }
    
    .small-list{
        text-align: center;
    }
 
    h6{
        font-size: 14px;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        margin: 0px 0px 0px 0px;
    }
    
    .text{
        color: #666666;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }
    
    .people{
        width: 220px;
        text-align: center;
        margin-top: 60px;
        margin-right: 10px;
        margin-left: 10px;
    }


    .end-b{
        color: #ff4e50;
        border: 2px solid #ff4e50;
        border-radius: 30px;
        font-size: 14px;
        padding: 13px 28px 13px 28px;
        background-color: #ffffff;
    }

    .end-see{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}

@media screen and (max-width: 400px){
    .Title{
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .head{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
    }

    .log{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        font-size: 15px;
        border: 0px;
        height: 36px;
        width: 90px;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    .sing{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        border: 2px solid #ffffff;
        font-size: 15px;
        border-radius: 30px;
        height: 36px;
        width: 90px;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }

    .register{
        display: flex;
        justify-content: center;
    }

    .begin{
        background-image: url(../img/Vector\ Smart\ Object.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .first-name{
        font-size: 18px;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 0px;
        display: flex;
       text-align: center;
    }

    .first{
       display: flex;
      justify-content: center; 
      width: 100%;
    }
    
    .main-slogan{
        display: flex;
        justify-content: center;
    }
    
    .slogan{
        font-size: 42px;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        width: 500px;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    
    span{
        font-size: 22px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }
    
    .find-p{
        background-color: #ff4e50;
        color: #ffffff;
        border: 0px;
        border-radius: 30px;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        padding: 11px 22px 11px 22px;
        font-weight: lighter;
        margin-bottom: 234px;
        margin-top: 35px;
    }
    
    h5{
        color: #333333;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 71px;
        margin-right: 25px;
        margin-left: 25px;
    }
    
    .small-list{
        text-align: center;
    }
    
    .small-list-3{
        display: flex;
        flex-direction: column;
       align-items: center;
    }

    h6{
        font-size: 14px;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        margin: 0px 0px 0px 0px;
    }
    
    .text{
        color: #666666;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }
    
    .people{
        width: 220px;
        text-align: center;
    }
    
    .end-b{
        color: #ff4e50;
        border: 2px solid #ff4e50;
        border-radius: 30px;
        font-size: 14px;
        padding: 13px 28px 13px 28px;
        background-color: #ffffff;
    }
}