body{
    width:100%;
    margin: 0px 0px 0px 0px;
}

.Title{
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 0px 5px 0px 5px;
    }

    .list{
        display: flex;
        justify-content: center;
        margin-bottom: 234px;
        
    }

    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login{
        text-decoration: none;
        color: #ffffff;
    }

    .log{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        font-size: 16px;
        border: 0px;
        height: 100%;
      
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    .sing{
        color: #ffffff;
        background-color: rgba(31, 281, 46, 0);
        border: 2px solid #ffffff;
        font-size: 16px;
        border-radius: 30px;
        height: 100%;
     
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .register{
        display: flex;
        justify-content: center;
        height: 36px;
        margin-bottom: 120px;
        margin-top: 20px;
    }

    .begin{
        background-image: url(../img/Vector\ Smart\ Object.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .first-name{
        font-size: 24px;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        display: flex;
       text-align: center;
       margin-bottom: 40px;
    }

    .first{
       display: flex;
       justify-content: center; 
    }
    
    .main-slogan{
        display: flex;
        justify-content: center;
    }
    
    .slogan{
        font-size: 42px;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        max-width: 500px;
        text-align: center;
        margin:0px 5px 30px 5px;
    }
    
    span{
        font-size: 24px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }
    
    .find-p{
        background-color: #ff4e50;
        color: #ffffff;
        border: 0px;
        border-radius: 30px;
        font-size: 14px;
        width: 240px;
        font-family: 'Montserrat', sans-serif;
        padding: 11px 22px 11px 22px;
        font-weight: lighter;
        margin-top: 35px;
    }
    
    .holiday{
        text-decoration: none;
        height: auto;
        color: #ffffff;
    }

    h5{
        color: #333333;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 71px;
        margin-right: 25px;
        margin-left: 25px;
    }
    
    .small-list{
        text-align: center;
    }

    .small-list-3{
        width: 220px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 0px auto;
    }

    h6{
        font-size: 16px;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        margin: 0px 0px 0px 0px;
    }
    
    .text{
        color: #666666;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }
    
    .people{
        width: 220px;
        margin: 20px 0px 20px 0px;
        text-align: center;
    }
    
    .end-b{
        color: #ff4e50;
        border: 2px solid #ff4e50;
        border-radius: 30px;
        font-family: 'Montserrat';
        font-size: 16px;
        padding: 10px 28px 10px 28px;
        background-color: #ffffff;
        width: 60%;
        margin-bottom: 40px;
    }
    
    footer{
        display: flex;
        justify-content: center;
    }

    .end{
        text-decoration: none;
        color: #ff4e50;
        font-weight: bold;
    }



@media screen and (min-width: 700px){

    body{
        width: 100%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .Bid-List{
        margin-bottom: 40px;
    }

    .list{
        display: flex;
        justify-content: center;
    }

    .head{
        display: flex;
        flex-direction: row-reverse;
        margin:0px 0px 160px 10px;
        
    }

    .small-list-2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .register{
        margin-top: 43px;
        min-width: 29%;
        margin-bottom: 0px;
    }

    .small-list-3{
        width:auto;
        margin: 10px 0px 10px 0px;
    }

    .first-name{
        margin-top: 0px;
    }

    .first{
        margin: 47px 0px 0px 0px;
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    .slogan{
        margin-bottom: 30px;
        padding: 0px 10px 0px 10px;
    }

    .people{
        margin: 40px 20px 40px 20px;
        height: 34%; 
    }


    .end-b{
        padding: 10px 10px 10px 10px;
        width: 40%;
    }

    .end-see{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

}

@media screen and (min-width: 1100px){    

    .small-list-2{
        display: flex;
        justify-content: center;
        width: auto;
    }

    .small-list-3{
        width: auto;
        display: flex;
        flex-direction: row;
        height: 98%;
        align-items: flex-start;
    }

    .head{
        margin-bottom: 160px;
    }

    .list{
        display: flex;
        justify-content: center;
    }

    .people{
        height: auto;  
    }

    
    .end-b{
        padding: 10px 10px 13px 10px;
        width: 20%;
    }
}
@media screen and(min-width:1440px){

    .small-list-2{
        display: flex;
        justify-content: center;
        width: auto;
    }

    .small-list-3{
        margin: 0px 0px 0px 0px;
        max-width: auto;
        min-width: 340px;
    }

    .first-name{
        margin-bottom: 0px;
    }

    .first{
        margin: 47px 5% 0px 0px;
    }

    .list{
        display: flex;
        justify-content: center;
    }

    .end-b{
        padding: 10px 10px 13px 10px;
    }

}

